# General
fastapi==0.115.12
pydantic==2.11.1
uvicorn[standard]==0.34.1

# Langchain
langchain==0.3.22
langchain-aws==0.2.19
langchain-community==0.3.20
langchain-core==0.3.49
langchain-openai==0.3.12
langchain-ollama==0.3.0
# langchain-postgres==0.0.12

# Sources
# pypdf==5.1.0

# Database
# pgvector==0.2.5
# psycopg-binary==3.2.3
