# General
fastapi==0.115.12
pydantic==2.11.3
uvicorn[standard]==0.34.2

# Langchain
langchain==0.3.24
langchain-aws==0.2.22
langchain-community==0.3.22
langchain-core==0.3.56
langchain-openai==0.3.14
langchain-ollama==0.3.2
# langchain-postgres==0.0.12

# Sources
# pypdf==5.1.0

# Database
# pgvector==0.2.5
# psycopg-binary==3.2.3
