# General
fastapi==0.135.3
pydantic==2.12.5
pydantic-settings==2.13.1
python-multipart==0.0.22
uvicorn[standard]==0.44.0

# Langchain
langchain==1.2.15
langchain-aws==1.4.3
langchain-community==0.4.1
langchain-core==1.2.24
langchain-openai==1.1.12
langchain-ollama==1.0.1
# langchain-postgres==0.0.14

# Sources
pypdf==6.9.2

# Database
# pgvector==0.4.0
# psycopg-binary==3.2.6
